.groups {
    min-width: 100%;
    min-height: 200px;
}

.group {
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.group:hover {
    background-color: #c5d0db;
    border-radius: 5px;
    color: white;
}

.group.active {
    background-color: #0CB4F1;
    color: white;
}



